body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.welcome-container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}

.welcome-content {
  width: 90%;
  max-width: 350px;
}

.welcome-content h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-content p {
  color: #7d7d7d;
  margin-bottom: 30px;
  line-height: 1.4;
}

.btn {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.btn.primary {
  background-color: #6c25ff;
  color: #ffffff;
}

.btn.secondary {
  background-color: #d7c7ff;
  color: #000000;
}


/* 2 nd page */

.form-container {
  max-width: 380px;
  margin: auto;
  padding: 30px 20px;
  font-family: Arial, sans-serif;
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container label {
  font-size: 13px;
  color: #6c25ff;
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  outline: none;
}

.agent-text {
  font-size: 14px;
  margin: 10px 0;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.radio-group label {
  color: #000;
  font-size: 14px;
}

.btn.primary {
  width: 100%;
  padding: 14px;
  background: #6c25ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.sub-text {
  color: #7d7d7d;
  margin-bottom: 20px;
  font-size: 14px;
}

.btn.disabled {
  width: 100%;
  padding: 14px;
  background: #d9dce1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.account-container {
  max-width: 380px;
  margin: auto;
  padding: 25px;
  font-family: Arial, sans-serif;
}

.account-container h2 {
  margin-bottom: 25px;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h3 {
  margin: 0;
  font-size: 16px;
}

.profile-info .email {
  font-size: 14px;
  color: gray;
}

.description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 25px;
}

hr {
  border: none;
  border-top: 1px dashed #ccc;
}

.account-container {
  max-width: 380px;
  margin: auto;
  padding: 25px;
  font-family: Arial, sans-serif;
}

.account-container h2 {
  margin-bottom: 25px;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h3 {
  margin: 0;
  font-size: 16px;
}

.profile-info .email {
  font-size: 14px;
  color: gray;
}

.description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 25px;
}

hr {
  border: none;
  border-top: 1px dashed #ccc;
}
